body
{
	background: url(1998.jp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;		
	background-attachment: fixed;
	<table style=”background-color:#33475b”>

}